.container {
  max-width: 400px;
  margin: auto;
}

.result {
  height: 60px;
  background-color: #8b8989a6;
  width: 100%;
}

.result p {
  font-size: 20px;
  margin-left: 305px;
  margin-top: 50px;
  padding: 30px;
  font-weight: 600;
  color: #fff;
}

.button {
  display: block;
}

button {
  width: 25%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid rgb(214, 212, 212, 0.6);
  cursor: pointer;
}

.two {
  width: 50%;
}

.color {
  background-color: #ff8b3d;
}
